<H1>Data Science Tools and Ecosystem</H1>

<H2>Author</H2> Doron Aga

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: </b>
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1 - Python
2 - R
3 - Julia
4 - SQL

Some of the commonly used libraries used by Data Scientists include:
1 - Pandas
2 - NumPy
3 - Matplotlib

|Data Science Tools|
|-----------|
|TensorFlow|
|RStudio|
|Apache Spark|

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335